<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>【上海租房信息网】☆【趣分析】</title>
    <link rel="stylesheet" href="css/semantic.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/detail_rent.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <!-- menu菜单部分 -->
    <div class="ui inverted teal top fixed  borderless menu">
      <div class="item">
        <div class="ui inverted header">
          <h2>住房数据分析</h2>
        </div>
      </div>

      <div class="right menu">
        <div class="item">
          <h5 class="ui inverted header">
            <div class="ui mini circular image">
              <img src="images/me.png" alt="" />
            </div>
            <span style="font-size:10px;">用户名</span>
          </h5>
        </div>
        <div class="item">
          <a href="#"><h5 class="ui inverted header login">登录</h5></a>
          <span>|</span>
          <a  href="#"><h5 class="ui inverted header register">注册</h5></a>
        </div>
      </div>
    </div>

    <!--header首部-->
    <div class="ui inverted segment container nav">
      <div class="ui secondary pointing menu">
        <a class="active item" href="#" style="font-size:15px;">租房</a>
        <a class="item" href="#" style="font-size:15px;">二手房</a>
      </div>
    </div>

    <!-- content one内容 -->
    <div class="ui vertical segment basic container con">
      <h2 class="ui header title">实拍房源 押一付一 无附加费 拎包入住 紧邻地铁 免费保洁网络</h2>
      <div class="ui vertical segment">
        <div class="ui grid">
          <div class="eleven wide column">
            <div class="ui segment pic" style="background: url('images/rent.jpg');background-size:cover;background-repeat: no-repeat;">
                <span class="ui header logo">HQ</span>
            </div>
            <div class="nav" style="padding-left:15px;">
              <i class="icon grey unhide"></i>
              <span style="color:#bbbbbb"> 1000人已阅读</span>
              <span style="color:rgb(226, 226, 226)"> |</span>
              <i class="icon grey checkmark"></i>
              <span style="color:#bbbbbb">500人觉得很赞</span>
            </div>
          </div>
          <div class="five wide column">
            <div class="ui segment right">
              <div class="ui image">
                <img style="width:110px;height:150px;" src="images/sale.jpg" alt="" />
              </div>
              <span class="ui header saleName">
                <i class="user grey icon"></i>
                高嘉兴
              </span>
              <div class="ui vertical segment elems">
                <h3 class="ui header" style="font-size:18px;font-family:'Raleway',sans-serif;">
                  <i class="volume control phone icon"></i>
                  158xxxxxxxx
                </h3>

                <h3 class="ui header" style="font-size:13px;color:grey;">
                  <span>公司：</span>
                  我爱我家
                </h3>

                <h3 class="ui header" style="font-size:13px;color:grey;">
                  <span>门店：</span>
                  我爱我家徐汇店
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content two内容 -->
    <div class="ui vertical basic segment container cTwo">
      <form class="ui form" action="" method="post">
        <span class="ui header" style="font-size:25px;padding-right:750px;">房源信息</span>
        <button class="ui red circular button" type="submit" name="like" value="">赞</button>
        <button class="ui circular button" type="submit" name="dislike" value="">low</button>
      </form>

      <div class="ui segment container">
        <div class="ui three column grid infos">
          <div class="row">
            <div class="column">
              <span style="padding:0 30px 0 10px;color:grey;">租金</span>
              <span class="ui orange header" style="font-size:25px;color:rgb(222, 92, 19);">
                3500
                <span style="font-size:12px;">元/月</span>
              </span>
            </div>
          </div>

          <div class="column">
            <span style="padding:0 30px 0 10px;color:grey;">装修</span>
            <span class="ui header" style="font-size:15px;">精装修</span>
          </div>
          <div class="column">
            <span style="padding:0 30px 0 10px;color:grey;">面积</span>
            <span class="ui header" style="font-size:15px;">70平米</span>
          </div>
          <div class="column">
            <span style="padding:0 30px 0 10px;color:grey;">朝向</span>
            <span class="ui header" style="font-size:15px;">南</span>
          </div>

          <div class="column">
            <span style="padding:0 30px 0 10px;color:grey;">租金方式</span>
            <span class="ui header" style="font-size:15px;">押一付一</span>
          </div>
          <div class="column">
            <span style="padding:0 30px 0 10px;color:grey;">楼层</span>
            <span class="ui header" style="font-size:15px;">17/32</span>
          </div>
          <div class="column">
            <span style="padding:0 30px 0 10px;color:grey;">所在小区</span>
            <span class="ui header" style="font-size:15px;">开元坊</span>
          </div>

          <div class="column">
            <span style="padding:0 30px 0 10px;color:grey;">房型</span>
            <span class="ui header" style="font-size:15px;">2室2厅</span>
          </div>
          <div class="column">
            <span style="padding:0 30px 0 10px;color:grey;">类型</span>
            <span class="ui header" style="font-size:15px;">普通住房</span>
          </div>
          <div class="column">
            <span style="padding:0 30px 0 10px;color:grey;">位置</span>
            <span class="ui header" style="font-size:15px;">黄埔</span>
          </div>
        </div>
      </div>
    </div>

    <!-- comment & like内容 -->
    <div class="ui container segment" style="width:1000px;">
      <h3 class="ui header" style="font-family:'Oswald',sans-serif;">评论</h3>
      <div class="ui comments">
        <div class="comment">
          <a class="avatar">
            <img src="http://semantic-ui.com/images/avatar/small/matt.jpg">
          </a>
          <div class="content">
            <a href="#" class="author">Elliot Fu</a>
            <div class="metadata">
              <span class="date">Today at 5:42PM</span>
            </div>
            <div class="text" style="font-family: 'Raleway', sans-serif;">
              Great article !
            </div>
          </div>
        </div>
      </div>
      <div class="ui divider"> </div>
      <form class="ui form" action="" method="post">
        <div class="field">
          <label>请输入评论内容：</label>
          <textarea></textarea>
        </div>
        <button type="submit" class="ui blue button">提交</button>
      </form>
    </div>
    <!-- footer内容 -->
    <div class="ui vertical teal segment container footers">
      <div class="ui grid">
        <div class="twelve wide column">
          <div class="ui vertical text menu" style="width:600px;">
            <div class="item">
              <h3 class="ui header">畅想未来公司</h3>
            </div>
            <div class="item">
              <span style="padding-right:15px;">关于HQ，联系我们>></span>
              <span style="padding-right:15px;">地址:上海，中国</span>
              <span style="padding-right:15px;">|</span>
              <span style="padding-right:15px;">电话:021-xxxxxxxx</span>
              <span style="padding-right:15px;">|</span>
              <span>传真:021-xxxxxxxx</span>
            </div>
            <div class="item">
              <span>@Copyright 2017-2020 v1</span>
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui vertical text menu">
            <div class="item">
              <h3 class="ui header logo">HQ</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
