<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>【上海租房/二手房信息网】☆【趣分析】</title>
    <link rel="stylesheet" href="css/semantic.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/list_rent.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
    <link href='http://fonts.font.im/css?family=Bangers' rel='stylesheet'>
  </head>
  <body>
    <!-- menu菜单部分 -->
    <div class="ui inverted teal top fixed  borderless menu">
      <div class="item">
        <div class="ui inverted header">
          <h2>住房数据分析</h2>
        </div>
      </div>

      <div class="right menu">
        <div class="item">
          <h5 class="ui inverted header">
            <div class="ui mini circular image">
              <img src="images/me.png" alt="" />
            </div>
            <span style="font-size:10px;">用户名</span>
          </h5>
        </div>
        <div class="item">
          <a href="#"><h5 class="ui inverted header login">登录</h5></a>
          <span>|</span>
          <a  href="#"><h5 class="ui inverted header register">注册</h5></a>
        </div>
      </div>
    </div>

    <!--header首部-->
    <div class="ui inverted segment container nav">
      <div class="ui secondary pointing menu">
        <a class="active item" href="#" style="font-size:15px;">租房</a>
        <a class="item" href="#" style="font-size:15px;">二手房</a>
      </div>
    </div>

    <div class="ui segment listheader container">
      <div class="ui vertical segment elems1">
        <span class="ui header elems1">区域:</span>
        <span class="elems-1">
          <a href="#"  class="ui orange header elems1">全部</a>
          <a href="#" class="ui grey header elems1">静安</a>
          <a href="#" class="ui grey header elems1">宝山</a>
          <a href="#" class="ui grey header elems1">徐汇</a>
          <a href="#" class="ui grey header elems1">崇明</a>
          <a href="#" class="ui grey header elems1">青浦</a>
          <a href="#" class="ui grey header elems1">金山</a>
          <a href="#" class="ui grey header elems1">奉贤</a>
          <a href="#" class="ui grey header elems1">松江</a>
          <a href="#" class="ui grey header elems1">嘉定</a>
          <a href="#" class="ui grey header elems1">闵行</a>
          <a href="#" class="ui grey header elems1">黄埔</a>
          <a href="#" class="ui grey header elems1">普陀</a>
          <a href="#" class="ui grey header elems1">杨浦</a>
          <a href="#" class="ui grey header elems1">虹口</a>
          <a href="#" class="ui grey header elems1">浦东</a>
          <a href="#" class="ui grey header elems1">长宁</a>
          <a href="#" class="ui grey header elems1">上海周边</a>
        </span>
      </div>

      <div class="ui vertical segment elems2">
        <span class="ui header elems2">租金:</span>
        <span class="elems-2">
          <a href="#"  class="ui orange header elems2">全部</a>
          <a href="#" class="ui grey header elems2">500以下</a>
          <a href="#" class="ui grey header elems2">500-1000元</a>
          <a href="#" class="ui grey header elems2">1000-1500元</a>
          <a href="#" class="ui grey header elems2">1500-2000元</a>
          <a href="#" class="ui grey header elems2">2000-2500元</a>
          <a href="#" class="ui grey header elems2">2500-3000元</a>
          <a href="#" class="ui grey header elems2">3000-4000元</a>
          <a href="#" class="ui grey header elems2">4000-8000元</a>
          <a href="#" class="ui grey header elems2">8000元以上</a>
        </span>
      </div>

      <div class="ui vertical segment elems3">
        <span class="ui header elems3">房型:</span>
        <span class="elems-3">
          <a href="#"  class="ui orange header elems3">全部</a>
          <a href="#" class="ui grey header elems3">一室</a>
          <a href="#" class="ui grey header elems3">二室</a>
          <a href="#" class="ui grey header elems3">三室</a>
          <a href="#" class="ui grey header elems3">四室</a>
          <a href="#" class="ui grey header elems3">五室及以上</a>
        </span>
      </div>
    </div>

    <div class="ui divider container" style="width:1000px;"></div>
    <!-- content主模板 -->
    <div class="ui container basic segment contentHeader" style="width:1000px;">
      <span class="ui header rank">排序：</span>
      <a href="#" class="ui orange header default">默认</a>
      <a href="#" class="ui header rent">租金 <i class="angle double up icon"></i></a>
      <a href="#" class="ui header new">最新 <i class="angle double down icon"></i></a>
    </div>

    <div class="ui vertical basic segment container master">
      <div class="ui grid">
        <div class="four wide column">
          <div class="ui image">
            <img style="height:150px;width:220px;" src="images/rent.jpg" alt="" />
          </div>
        </div>

        <div class="eight wide column">
          <a href="#">
            <h3 class="ui header">实拍房源 押一付一 无附加费 拎包入住 紧邻地铁 免费保洁网络</h3>
          </a>
          <div class="ui vertical segment">
            <div class="c-elem1" style="margin-top:10px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">2室1厅</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">合租</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">精装修</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">12/21层</span>
            </div>

            <div class="c-elem2" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">湖南路20弄洋房[徐汇-衡山路 湖南路20弄]</span>
            </div>

            <div class="c-elem3" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">左彬彬</span>
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui vertical segment price">
            <h3 class="ui orange header" style="font-size:25px;color:rgb(222, 92, 19);">
              3500
              <span style="font-size:12px;">元/月</span>
            </h3>
          </div>
        </div>

        <div class="ui fitted divider container" style="width:1000px;"></div>

        <div class="four wide column">
          <div class="ui image">
            <img style="height:150px;width:220px;" src="images/rent.jpg" alt="" />
          </div>
        </div>

        <div class="eight wide column">
          <a href="#">
            <h3 class="ui header">实拍房源 押一付一 无附加费 拎包入住 紧邻地铁 免费保洁网络</h3>
          </a>
          <div class="ui vertical segment">
            <div class="c-elem1" style="margin-top:10px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">2室1厅</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">合租</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">精装修</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">12/21层</span>
            </div>

            <div class="c-elem2" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">湖南路20弄洋房[徐汇-衡山路 湖南路20弄]</span>
            </div>

            <div class="c-elem3" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">左彬彬</span>
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui vertical segment price">
            <h3 class="ui orange header" style="font-size:25px;color:rgb(222, 92, 19);">
              3500
              <span style="font-size:12px;">元/月</span>
            </h3>
          </div>
        </div>

        <div class="ui fitted divider container" style="width:1000px;"></div>

        <div class="four wide column">
          <div class="ui image">
            <img style="height:150px;width:220px;" src="images/rent.jpg" alt="" />
          </div>
        </div>

        <div class="eight wide column">
          <a href="#">
            <h3 class="ui header">实拍房源 押一付一 无附加费 拎包入住 紧邻地铁 免费保洁网络</h3>
          </a>
          <div class="ui vertical segment">
            <div class="c-elem1" style="margin-top:10px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">2室1厅</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">合租</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">精装修</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">12/21层</span>
            </div>

            <div class="c-elem2" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">湖南路20弄洋房[徐汇-衡山路 湖南路20弄]</span>
            </div>

            <div class="c-elem3" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">左彬彬</span>
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui vertical segment price">
            <h3 class="ui orange header" style="font-size:25px;color:rgb(222, 92, 19);">
              3500
              <span style="font-size:12px;">元/月</span>
            </h3>
          </div>
        </div>

        <div class="ui fitted divider container" style="width:1000px;"></div>

        <div class="four wide column">
          <div class="ui image">
            <img style="height:150px;width:220px;" src="images/rent.jpg" alt="" />
          </div>
        </div>

        <div class="eight wide column">
          <a href="#">
            <h3 class="ui header">实拍房源 押一付一 无附加费 拎包入住 紧邻地铁 免费保洁网络</h3>
          </a>
          <div class="ui vertical segment">
            <div class="c-elem1" style="margin-top:10px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">2室1厅</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">合租</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">精装修</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">12/21层</span>
            </div>

            <div class="c-elem2" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">湖南路20弄洋房[徐汇-衡山路 湖南路20弄]</span>
            </div>

            <div class="c-elem3" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">左彬彬</span>
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui vertical segment price">
            <h3 class="ui orange header" style="font-size:25px;color:rgb(222, 92, 19);">
              3500
              <span style="font-size:12px;">元/月</span>
            </h3>
          </div>
        </div>

        <div class="ui fitted divider container" style="width:1000px;"></div>

        <div class="four wide column">
          <div class="ui image">
            <img style="height:150px;width:220px;" src="images/rent.jpg" alt="" />
          </div>
        </div>

        <div class="eight wide column">
          <a href="#">
            <h3 class="ui header">实拍房源 押一付一 无附加费 拎包入住 紧邻地铁 免费保洁网络</h3>
          </a>
          <div class="ui vertical segment">
            <div class="c-elem1" style="margin-top:10px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">2室1厅</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">合租</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">精装修</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">12/21层</span>
            </div>

            <div class="c-elem2" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">湖南路20弄洋房[徐汇-衡山路 湖南路20弄]</span>
            </div>

            <div class="c-elem3" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">左彬彬</span>
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui vertical segment price">
            <h3 class="ui orange header" style="font-size:25px;color:rgb(222, 92, 19);">
              3500
              <span style="font-size:12px;">元/月</span>
            </h3>
          </div>
        </div>

        <div class="ui fitted divider container" style="width:1000px;"></div>

        <div class="four wide column">
          <div class="ui image">
            <img style="height:150px;width:220px;" src="images/rent.jpg" alt="" />
          </div>
        </div>

        <div class="eight wide column">
          <a href="#">
            <h3 class="ui header">实拍房源 押一付一 无附加费 拎包入住 紧邻地铁 免费保洁网络</h3>
          </a>
          <div class="ui vertical segment">
            <div class="c-elem1" style="margin-top:10px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">2室1厅</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">合租</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">精装修</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">12/21层</span>
            </div>

            <div class="c-elem2" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">湖南路20弄洋房[徐汇-衡山路 湖南路20弄]</span>
            </div>

            <div class="c-elem3" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">左彬彬</span>
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui vertical segment price">
            <h3 class="ui orange header" style="font-size:25px;color:rgb(222, 92, 19);">
              3500
              <span style="font-size:12px;">元/月</span>
            </h3>
          </div>
        </div>

        <div class="ui fitted divider container" style="width:1000px;"></div>

        <div class="four wide column">
          <div class="ui image">
            <img style="height:150px;width:220px;" src="images/rent.jpg" alt="" />
          </div>
        </div>

        <div class="eight wide column">
          <a href="#">
            <h3 class="ui header">实拍房源 押一付一 无附加费 拎包入住 紧邻地铁 免费保洁网络</h3>
          </a>
          <div class="ui vertical segment">
            <div class="c-elem1" style="margin-top:10px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">2室1厅</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">合租</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">精装修</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">12/21层</span>
            </div>

            <div class="c-elem2" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">湖南路20弄洋房[徐汇-衡山路 湖南路20弄]</span>
            </div>

            <div class="c-elem3" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">左彬彬</span>
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui vertical segment price">
            <h3 class="ui orange header" style="font-size:25px;color:rgb(222, 92, 19);">
              3500
              <span style="font-size:12px;">元/月</span>
            </h3>
          </div>
        </div>

        <div class="ui fitted divider container" style="width:1000px;"></div>

        <div class="four wide column">
          <div class="ui image">
            <img style="height:150px;width:220px;" src="images/rent.jpg" alt="" />
          </div>
        </div>

        <div class="eight wide column">
          <a href="#">
            <h3 class="ui header">实拍房源 押一付一 无附加费 拎包入住 紧邻地铁 免费保洁网络</h3>
          </a>
          <div class="ui vertical segment">
            <div class="c-elem1" style="margin-top:10px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">2室1厅</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">合租</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">精装修</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">12/21层</span>
            </div>

            <div class="c-elem2" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">湖南路20弄洋房[徐汇-衡山路 湖南路20弄]</span>
            </div>

            <div class="c-elem3" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">左彬彬</span>
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui vertical segment price">
            <h3 class="ui orange header" style="font-size:25px;color:rgb(222, 92, 19);">
              3500
              <span style="font-size:12px;">元/月</span>
            </h3>
          </div>
        </div>

        <div class="ui fitted divider container" style="width:1000px;"></div>

        <div class="four wide column">
          <div class="ui image">
            <img style="height:150px;width:220px;" src="images/rent.jpg" alt="" />
          </div>
        </div>

        <div class="eight wide column">
          <a href="#">
            <h3 class="ui header">实拍房源 押一付一 无附加费 拎包入住 紧邻地铁 免费保洁网络</h3>
          </a>
          <div class="ui vertical segment">
            <div class="c-elem1" style="margin-top:10px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">2室1厅</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">合租</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">精装修</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">12/21层</span>
            </div>

            <div class="c-elem2" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">湖南路20弄洋房[徐汇-衡山路 湖南路20弄]</span>
            </div>

            <div class="c-elem3" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">左彬彬</span>
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui vertical segment price">
            <h3 class="ui orange header" style="font-size:25px;color:rgb(222, 92, 19);">
              3500
              <span style="font-size:12px;">元/月</span>
            </h3>
          </div>
        </div>

        <div class="ui fitted divider container" style="width:1000px;"></div>

        <div class="four wide column">
          <div class="ui image">
            <img style="height:150px;width:220px;" src="images/rent.jpg" alt="" />
          </div>
        </div>

        <div class="eight wide column">
          <a href="#">
            <h3 class="ui header">实拍房源 押一付一 无附加费 拎包入住 紧邻地铁 免费保洁网络</h3>
          </a>
          <div class="ui vertical segment">
            <div class="c-elem1" style="margin-top:10px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">2室1厅</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">合租</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">精装修</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">|</span>
              <span style="color:rgb(125, 125, 113); padding-right:8px;">12/21层</span>
            </div>

            <div class="c-elem2" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">湖南路20弄洋房[徐汇-衡山路 湖南路20弄]</span>
            </div>

            <div class="c-elem3" style="margin-top:15px;">
              <span style="color:rgb(125, 125, 113); padding-right:8px;">左彬彬</span>
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui vertical segment price">
            <h3 class="ui orange header" style="font-size:25px;color:rgb(222, 92, 19);">
              3500
              <span style="font-size:12px;">元/月</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <!-- 分页标签 -->
    <div class="ui center aligned very padded vertical basic segment container">
       <div class="ui pagination menu">
           <a href="#" class="item">
             <i class="icon red left arrow"></i>
           </a>
           <a href="#" class="active item">1</a>
           <a href="#" class="item">2</a>
           <a href="#" class="item">3</a>
           <a href="#" class="item">4</a>
           <a href="#" class="item">5</a>
           <a href="#" class="item">6</a>
           <div class="disabled item">...</div>
           <a href="#" class="item">
             <i class="icon red right arrow"></i>
           </a>
       </div>
    </div>

    <!-- 数据分析空间 -->
    <div class="ui vertical basic segment container" style="width:1000px;">
      <h3 class="ui header">数据分析：</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>

    <!-- footer 页面尾部 -->
    <div class="ui vertical teal segment container footers">
      <div class="ui grid">
        <div class="twelve wide column">
          <div class="ui vertical text menu" style="width:600px;">
            <div class="item">
              <h3 class="ui header">畅想未来公司</h3>
            </div>
            <div class="item">
              <span style="padding-right:15px;">关于HQ，联系我们>></span>
              <span style="padding-right:15px;">地址:上海，中国</span>
              <span style="padding-right:15px;">|</span>
              <span style="padding-right:15px;">电话:021-xxxxxxxx</span>
              <span style="padding-right:15px;">|</span>
              <span>传真:021-xxxxxxxx</span>
            </div>
            <div class="item">
              <span>@Copyright 2017-2020 v1</span>
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui vertical text menu">
            <div class="item">
              <h3 class="ui header logo">HQ</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
